<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title>Home</title>
    </head>
    <body>

        <a class = "foto" href = "/meteo"><img src="static/images/meteo.jpg" alt = "meteo" width="500" height="300"></a>
        <a class = "foto" href = "/citazioni"><img src="static/images/libro.jpg" alt = "libro" width="500" height="300"></a>
        <a class = "foto" href = "/scuola"><img src="static/images/calendario.jpg" alt = "calendario" width="500" height="300"></a>
    </body>
</html>